<!DOCTYPE html>
<html>
<head>
<title>Satori UI Automation Execution Report</title>
</head>
<body>
	<p>
		<b>Hi,<br>Here is a summary of the test automation execution.
			  </br></b>
	</p>
	<table bgColor="#DDDDDD" style="width: 100%; border: 1px #eaeaea solid; cellpadding: 0; cellspacing: 0;">
		<tr>
			<th align="left">Execution Id</th>
			<td>: ${execSumm.id}</td>
			<th style="text-align:left; color:blue;">Total TCs Executed</th>
			<td style="text-align:left; color:blue;">: ${execSumm.totalTC}
		<tr>
			<th align="left">UEB Version
			<td>: ${execSumm.buildNum}
			<th style="text-align:left; color:green;">Total TCs Passed
			<td style="text-align:left; color:green;">: ${execSumm.passedTC}
		<tr>
			<th align="left">Start Time
			<td>: ${execSumm.startTime}
			<th style="text-align:left; color:red;">Total TCs Failed
			<td style="text-align:left; color:red;">: ${execSumm.failedTC}
		<tr>
			<th align="left">End Time
			<td>: ${execSumm.endTime}
			<th align="left">Duration
			<td>: ${execSumm.duration}
		</tr>
	</table>
<br>
	<table style="border: 0; width: 100%;">
		<thead>
			<tr>
				<th bgColor="#BBBBBB" align="left">Test Case ID</th>
				<th bgColor="#BBBBBB" align="left">Description</th>
				<th bgColor="#BBBBBB">Execution Status</th>
				<th bgColor="#BBBBBB">Execution Duration</th>
			</tr>			
		</thead>
		
		#foreach ($testCaseResult in $execSumm.testCaseResultList)
		<tr	style="WIDTH: 235; BORDER: 0; OVERFLOW-Y: scroll; WORD-WRAP: BREAK-WORD; OVERFLOW-X: hidden; padding: 2px 0px 2px 5px"
			bgColor="#DDDDDD" padding="" onMouseover="this.bgColor='#EEEEEE'" onMouseout="this.bgColor='#DDDDDD'">
			<td style="color: blue;">$testCaseResult.testCaseId</td>
			<td style="color: blue;">$testCaseResult.testDescription</td>
			#if ($testCaseResult.executionStatus == 'Pass')
				<td style="text-align: center; color: green;">$testCaseResult.executionStatus</td>
			#else
				<td style="text-align: center; color: red;">$testCaseResult.executionStatus</td>
			#end
			<td style="text-align: center; color: blue;">$testCaseResult.duration</td>
		</tr>
		#end		
	</table>
	<br>
	<p>
		<b>Thanks &amp; Regards,<br>Automation Team</br></b>
	</p>
</body>
</html>
